/*********************************************************/
/*Tnb Brand Colors */


// $primary-color-light: #186
// $primary-color: #0F609B !default;
// $primary-color-dark: #0A558C !default;
// $primary-color-extra-dark: #003E6B !default;


/* Primary */
$primary-color-extra-extra-extra-light: #E6F6FF !default;
$primary-color-extra-extra-light: #7CC4FA !default;
$primary-color-extra-light: #47A4F3 !default;
$primary-color-light: #2186EB !default;
$primary-color: #0967d2 !default;
$primary-color-dark: #0552B5 !default;
$primary-color-extra-dark: #03449E !default;
$primary-color-extra-extra-dark: #01337D !default;
$primary-color-extra-extra-extra-extra-dark: #002159 !default;


/* Secondarys */
$secondary-color-extra-extra-extra-light: #fff !default;
$secondary-color-extra-extra-light: #fff !default;
$secondary-color-extra-light: #fff !default;
$secondary-color-light: #fff !default;
$secondary-color: #2680C2 !default;
$secondary-color-dark: #fff !default;
$secondary-color-extra-dark: #fff !default;
$secondary-color-extra-extra-dark: #fff !default;
$secondary-color-extra-extra-extra-extra-dark: #fff !default;

/* Grays */
$gray-extra-extra-extra-light: #F8F9F9 !default;
$gray-extra-extra-light: #EEF2F5 !default;
$gray-extra-light: #E3EBEF !default;
$gray-light: #CCD6DE !default;
$gray: #7E7E7E !default;
$gray-dark: #626262 !default;
$gray-extra-dark: #515151 !default;
$gray-extra-extra-dark: #3B3B3B !default;
$gray-extra-extra-extra-dark: #222222 !default;

/* Greens */
$green: #61CC7A !default;
$green-dark: #43A867 !default;

/* Yellows */
$yellow-light: #FFFEF7 !default;
$yellow: #FADC59 !default;
$yellow-dark: #EDB126 !default;
$yellow-extra-dark: #C98D00 !default;

/* Reds */
$red: #EF606E !default;
$red-light: lighten($red, 32%) !default;
$red-dark: #C74646 !default;

/* White */
$white: #fff !default;

/*********************************************************/
/* Convenience variables */

$line-color: $gray-light !default;
$shadow-color: $gray-extra-dark !default;
$label-text-color: $gray-dark !default;
$default-text-color: $gray-extra-dark  !default;
$input-text-color: $default-text-color !default;
$highlight-color: $green !default;