$inputs--disabled-label-text-color: darken($gray-dark, 5%);

$inputs--padding: 8px 8px 7px 8px;
$inputs--standard-height: $element-height--standard;

$inputs--big--padding: 8px 12px 7px 12px;
$inputs--big--standard-height: $element-height--big;

%input-style {
  // box-shadow: 0px 0px 0px 1px $line-color,
  //   inset 0px 1px 3px rgba($primary, .15);
  box-shadow: 0px 0px 0px 1px $line-color;
  background: #fff;
  border-radius: 2px;
  padding: $inputs--padding;
  border: none;
  -webkit-appearance: none;
}

%input-disabled-cursor-style {
  cursor: not-allowed;
}

%input-disabled-style {
  background: $gray-extra-extra-extra-light;
  box-shadow: none;
  @extend %input-disabled-cursor-style; // repetitive, but needed to override chrome user-agent stylesheet of cursor: auto on inputs
}

// Next 2 placeholders are for custom-styled inputs that override browser defaults (such as dropdown menus, radio buttons, etc.)

// this handles the invisible <input> that overlays the visible placeholder
%input-invisible-disabled-style {
  pointer-events: none; // conveniently disables hover as well as clicks, so we don't have to write :hover CSS for the disabled state
}

%input-placeholder-disabled-style {
  opacity: .5;
}

%mod-big-input-style {
  padding: $inputs--big--padding;
}


/*********************************************************/
/* Radio Buttons & Checkboxes */

$radio-checkbox--input-size: 24px;
$radio-button--size: 22px;
$checkbox--size: 20px;


%radio-checkbox-container {
  position: relative;
  padding-left: 32px;
  display: inline-block;
  margin-top: .45rem;
  margin-bottom: .45rem;
  margin-right: $spacing--small;

  &.disabled {
    @extend %input-disabled-cursor-style;
  }
}

%radio-checkbox-placeholder {
  position: absolute;
  top: 0px;
  left: 0;
  transition: $focus-transition;
}

%radio-checkbox-input {
  position: absolute;
  left: 0;
  height: $radio-checkbox--input-size;
  width: $radio-checkbox--input-size;
  z-index: 2;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  &:disabled {
    @extend %input-invisible-disabled-style;
  }
}

%radio-checkbox-label {
  @extend %input-text;
  position: relative;
  top: 2px;

  &[for] {
    cursor: pointer;
  }
}

%radio-checkbox--label-disabled {
  color: $inputs--disabled-label-text-color;

  &[for] {
    pointer-events: none; // prevents label from triggering a :hover state in the associated input
  }
}
