/*********************************************************/
/* Sizes */

// used in buttons, inputs, etc. - where a uniform height is often desired because of their inline nature
$element-height--standard: 38px !default;
$element-height--big: 48px !default;

/*********************************************************/
/* Spacing */

// used for putting space around or between items on a page
$spacing--tiny: .5rem  !default;
$spacing--small: 1rem !default;
$spacing--medium: 1.5rem !default;
$spacing--large: 2rem !default;
$spacing--xlarge: 3rem !default;

/*********************************************************/
/* Layout-related */

$single-column-content--max-width: 600px !default; // arbitrary value based on common screen sizes