$sidebar-min-width: 260px !default;

.sidebar {
//  position: fixed;
 display: flex;
 flex-flow: column;
 color: #fff;
 overflow: hidden;
 height: 100%;
 min-width: $sidebar-min-width;
 overflow-y: auto;
 background: $primary-color-extra-extra-dark;
// background-color: $gray;
}

.sidebar--logo {
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-weight: $font-weight-medium;
  font-size: $ms2;
}

.sidebar-nav-group {
  // padding-bottom: $spacing--tiny;
}


.sidebar-nav-group--title {
  @extend %tiny-label-text-style;
  color: $primary-color-extra-extra-light;
  padding: .5rem 1rem;
}

.sidebar--nav {
  .nav-item {
    font-size: $ms1;
    color: $primary-color-extra-extra-extra-light;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background: $primary-color-extra-dark; 
    }

    &.active {
      background: $primary-color-light;
      color: #fff;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

%menu-item-style{
  font-size: $ms1;
  text-transform: capitalize;
  // padding: $spacing--small;
  color: $primary-color-extra-extra-extra-light;
  a {
    font-size: $ms1;
      color: #fff;
      display: block;
      color: $primary-color-extra-extra-extra-light;
      text-decoration: none;
      &:hover {
        background: rgba($primary-color-extra-dark, .5);
      }

      &:focus {
        box-shadow: none;
      }

    &.active {
      background: $primary-color-extra-dark;
      color: #fff;
    }
      
  }
}

.menu{
  cursor: pointer;
  &-item{
    @extend %menu-item-style;
    // padding: 1rem;
  }
  .submenu {
    cursor: pointer;
    &-title {
      @extend %menu-item-style;
      display: flex;
      justify-content: space-between;
      // span{
      //   color: white;
      // }
    }
    &-menu {
      @extend %menu-item-style;
      // 
      background-color: $primary-color-extra-extra-extra-extra-dark;
      // padding-left: $spacing--large;
      display: none;
      &--open {
        display: block;
      }
    }
  }
}

.style-guide--notes {
  margin-bottom: $spacing--xlarge;

  &:before {
    content: "Notes:";
    font-size: $ms1;
    font-weight: $font-weight-bold;
    display: block;
    margin-bottom: .35rem;
  }
}

.sidebar-category-nav {
  border-bottom: 1px solid $line-color;
  border-top: 1px solid $line-color;
  padding: 1rem 0;
  margin-bottom: $spacing--xlarge;

  ul {
    margin: 0 -$spacing--tiny;

    > li {
      display: inline-block;
      padding: .5rem;
      font-size: $ms1;

      a {
        padding: .35rem .75rem;
        border-radius: 1.5rem;
        display: inline-block;
        background: $gray-extra-extra-light;
        text-decoration: none;
        color: $primary-color;
        font-size: $ms0;
        font-weight: $font-weight-medium;

        &:hover {
          background: $gray-extra-light;
        }
      }
    }
  }
}

.style-guide--example {
  padding: $spacing--large;
  border: 2px solid $primary-color;
  margin-bottom: $spacing--large;
  position: relative;
  border-radius: 5px;
  box-shadow: $shadow-standard;

  &:before {
    display: block;
    background: $primary-color;
    content: 'Example';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 .45rem .1rem .4rem;
    @extend %tiny-label-text-style;
    font-weight: $font-weight-black;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 5px;
  }
}

.style-guide--sub-example {
  &:not(:last-of-type) {
    margin-bottom: $spacing--medium;
  }
}

.style-guide--example-code {
  border: 1px solid $line-color;
  margin-bottom: $spacing--xlarge;
  border-radius: 5px;
  box-shadow: $shadow-standard;
  overflow: hidden;
}

.style-guide--example-code--nav {
  border-bottom: 1px solid $line-color;

  a {
    display: inline-block;
    padding: .5rem 2rem;
    color: $primary-color;
    @extend %tiny-label-text-style;

    &.active {
      &:not(:first-child) {
        border-left: 1px solid $line-color;
      }
      border-right: 1px solid $line-color;
      background-color: $gray-extra-extra-extra-light;
      box-shadow: 0px 1px 0px 0px $gray-extra-extra-extra-light;
    }
  }
}

.style-guide--example-code--code {
  padding: $spacing--large;
  font-size: $ms1;
  background-color: $gray-extra-extra-extra-light;
}

%style-guide-label-text {
  margin-bottom: $spacing--tiny;
  color: $primary-color;
  @extend %tiny-label-text-style;
}

.style-guide--sub-example--label {
  @extend %style-guide-label-text;
}

/* COLORS */

.style-guide--colors {
  margin-bottom: $spacing--xlarge;
}

.color-swatches {
  margin-bottom: $spacing--large;
}

.color-swatches--group {
  @include clearfix;
}

.color-swatch {
  background: gray;
  width: 100px;
  height: 100px;
  float: left;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2em;

  &.primary {
    background: $primary-color;
  }

  &.primary-dark {
    background: $primary-color-dark;
  }

  &.primary-extra-dark {
    background: $primary-color-extra-dark;
  }

  &.secondary {
    background: $secondary-color;
  }

  &.secondary-dark {
    background: $secondary-color-dark;
  }

  &.green {
    background: $green;
  }

  &.green-dark {
    background: $green-dark;
  }

  &.red {
    background: $red;
  }

  &.red-dark {
    background: $red-dark;
  }

  &.yellow-light {
    background: $yellow-light;
    color: $primary-color;
  }

  &.yellow {
    background: $yellow;
  }

  &.yellow-dark {
    background: $yellow-dark;
  }

  &.yellow-extra-dark {
    background: $yellow-extra-dark;
  }

  &.gray-extra-extra-extra-light {
    background: $gray-extra-extra-extra-light;
    color: $primary-color;
  }

  &.gray-extra-extra-light {
    background: $gray-extra-extra-light;
    color: $primary-color;
  }

  &.gray-extra-light {
    background: $gray-extra-light;
    color: $primary-color;
  }

  &.gray-light {
    background: $gray-light;
  }

  &.gray {
    background: $gray;
  }

  &.gray-dark {
    background: $gray-dark;
  }

  &.gray-extra-dark {
    background: $gray-extra-dark;
  }

  &.shadow-color {
    background: $shadow-color;
  }

  &.line-color {
    background: $line-color;
    color: $primary-color;
  }
}

/* ICONS */

.style-guide--icons {
  ul {
    margin: 0 -$spacing--tiny;

    li {
      display: inline-block;
      text-align: center;
      width: 120px;
      margin: $spacing--tiny;
      border: 1px solid $line-color;
      padding: 1rem;
      border-radius: 5px;
    }
  }
}

.style-guide--icon {
  font-size: $ms5;
}

.style-guide--icon-name {
  margin-top: $spacing--small;
}

/* GRID */

.col-contents {
  background: $gray-extra-light;
  padding: 10px;
  min-height: 20px;
}

/* Base Typeface Demo */

.style-guide--base-typeface-demo {
  font-size: $ms4;
  display: block;
  margin-bottom: $spacing--tiny;

  &.mod-italic {
    font-style: italic;
  }

  &.mod-medium {
    font-weight: $font-weight-medium;
  }

  &.mod-bold {
    font-weight: $font-weight-bold;
  }

  &.mod-heavy {
    font-weight: $font-weight-black;
  }
}

.style-guide--tiny-label-demo {
  @extend %tiny-label-text-style;
}

.style-guide--all-caps-heading-demo {
  @extend %all-caps-heading-text-style;
  font-size: $ms3;
}

// .style-guide--loader-container {
//   @extend %style-guide--sub-example-bg;
//   min-height: 36px;
//   position: relative;

//   &.mod-big {
//     min-height: 200px;
//   }
// }